
= render 'breadcrumb'

.friend-name-wrapper
  = image_tag @friend.url_profile_picture
  %h1= @friend.name  

.row
  .span8
    %h3 Latest Entries

    .feed-wrapper
      .loading Loading the feed - please wait...    
        
  .span4
    %h3 The biggest talkers in this Feed
    
    .talkers-info
      .loading Analyzing the feed - please wait...

:javascript
  $(function() {
     var feed_url = '#{friend_entries_path(@friend.uid)}';     
     var talkers_url = '#{friend_talkers_path(@friend.uid)}';
     WILD_COMMENTS.pull_entries(feed_url);          
     WILD_COMMENTS.pull_talkers(talkers_url);
  });

