
= render 'breadcrumb'

.friend-name-wrapper
  = image_tag @friend.url_profile_picture
  %h1= @friend.name  

.row
  .span8
    %h3 Latest Entries
    %ul.entries    
      - @entries.each do |entry|
        %li
          .meta
            %span.date= entry_date(entry['created_time'])
            = render 'entries/by', :entry => entry
          = render entry_partial(entry), :entry => entry    
        
  .span4
    %h3 The biggest talkers
    .talkers-info
      #loading Loading...

:javascript
  $(function() {
     var url = '#{friend_talkers_path(@friend.uid)}';     
     WILD_COMMENTS.pull_talkers(url);
  });

