!!! 5
%html
  %head
    %title Wildfire Programming Challenge
    = stylesheet_link_tag 'bootstrap.min', 'application'
    = javascript_include_tag 'jquery', 'bootstrap.min'
    = csrf_meta_tag

  %body
    .container
      #header
        .navigation
          = facebook_login_button('large')
        .slogan 
          %span WildFire 
          Programming Challenge
      #content
        #fb-root
        = yield
      #footer
        Created by Marek Publicewicz (
        = link_to 'www.ambisoft.pl', 'http://www.ambisoft.pl'
        )

:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: #{FACEBOOK_APP_ID}, status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
